body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #004e92, #000428);
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  max-width: 600px;
  width: 90%;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

.menu {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: #ff9800;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #e65100;
  }
